@font-face {
    font-family: "Alumni Sans Pinstripe";
    src: url("fonts/AlumniSansPinstripe-Regular.ttf");
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    font-size: xx-large;
}

@font-face {
    font-family: "Alumni Sans Pinstripe";
    src: url("fonts/AlumniSansPinstripe-Italic.ttf");
    font-style: italic;
    font-display: swap;
    font-weight: 300;
    font-size: xx-large;
}

@font-face {
    font-family: "Aboreto";
    src: url("fonts/Aboreto-Regular.ttf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Petit Formal Script";
    src: url("fonts/PetitFormalScript-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Alumni Sans Collegiate";
    src: url("AlumniSansCollegiateOne-Regular.ttf");
    // font-style: normal;
}
@font-face {
    font-family: "Alumni Sans Collegiate Italic";
    src: url("AlumniSansCollegiateOne-Italic.ttf");
    // font-style: normal;
}